.uppercase {
	text-transform: uppercase; 
}
.recommendation-bg {
	background: aliceblue;
    padding: 10px;
    margin: 10px 0px;
}

#moreCharts {
	display:none;
}

path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}